.container-component {
    width: 100%;
    max-width: 100vw; 
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    padding:0 1rem;
  }
  
  @media (max-width: 1400px) {
    .container-component {
      padding: 0;
    }
  }
  